@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.for_background {
    background-color: rgb(1, 78, 86);
}

.for_background2 {
    background: rgb(0, 64, 71);
}

.for_background3 {
    background-color: rgb(1, 47, 52);
}

.for_background4 {
    background: rgb(246, 126, 126);
}

.container {
    max-width: 1440px;
    padding: 0 170px 0;
    margin: auto;
    position: relative;
}

header {
    padding-top: 55px;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 125px;
}

header .ul_div {
    display: flex;
    gap: 70px;
    align-items: center;
}

header .ul_div ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

header .ul_div ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    transition: all .3s ease;
}

header .ul_div ul a:hover {
    color: rgb(246, 126, 126);
}

header .contact_us_btn {
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 24px;
    padding: 10px 32px;
    background-color: rgb(1, 78, 86);
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    transition: all .3s ease;
}

.hidden-menu {
    display: none;
    background: rgb(44, 98, 105);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 112px 48px 0;
}

header .menu_btn:hover .hidden-menu {
    display: block;
}

.hidden-menu a {
    display: block;
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration: none;
    transition: all .5s ease;
    margin-top: 24px;
}

.hidden-menu .a1 {
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 24px;
    padding: 10px 32px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    transition: all .3s ease;
    margin-top: 36px;
}

.hidden-menu a:hover {
    color: black;
}

.hidden-menu .a1:hover {
    background-color: white;
    color: black;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 24px;
    padding: 10px 32px;
    cursor: pointer;
}

header .menu_btn {
    display: none;
}

header .contact_us_btn:hover {
    background-color: white;
    color: black;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 24px;
    padding: 10px 32px;
    cursor: pointer;
}

/* SECTION1 */

.section1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 245px;
}

.section1 h1 {
    font-family: Livvic;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0px;
    text-align: left;
    color: rgb(255, 255, 255);
}

.section1 p {
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    width: 40%;
}

    /* SECTION2 */
.section2 {
    display: flex;
    flex-direction: column;
    padding: 140px 0 96px;
}

.section2 > h1 {
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0 0 65px;
}

.people {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.people > .div1 {
    text-align: center;
    /* padding: 32px 120px 0; */
    width: 350px;
    height: 235px;
    background-color: rgb(1, 47, 52);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 76px;
    padding: 0 48px;
}

.people > div .person_img {
    margin-bottom: 16px;
}

.people > div h1 {
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 56px;
}

.people > div .empowered {
    margin-bottom: 24px;
}

.people > div .bird {
    margin-bottom: 65px;
}

.people > div .aden {
    margin-top: 35px;
}

.people > div p {
    color: rgb(121, 200, 199);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
}

.people > div .plus {
    position: absolute;
    bottom: -28px;
}

    /* SECTION3 */
.section3 {
    padding: 140px 0 156px;
}

.section3 h1 {
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 64px;
}

.section3 .clients {
    display: flex;
    justify-content: space-between;
}
.verge {
    width: 165px;
    height: 28px;
}
.jakarta {
    width: 184px;
    height: 23px;
}
.buardian {
    width: 180px;
    height: 28px;
}
.techradar {
    width: 165px;
    height: 28px;
}
.gatgets {
    width: 98px;
    height: 45px;
}

    /* SECTION4 */
.section4 {
    display: flex;
    justify-content: space-between;
    padding: 76px 0 76px;
    align-items: center;
}

.section4 h1 {
    color: rgb(1, 47, 52);
    font-family: Livvic;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
}

.section4 button {
    box-sizing: border-box;
    border: 2px solid rgb(1, 47, 52);
    border-radius: 24px;
    padding: 10px 32px;
    background-color: rgb(246, 126, 126);
    cursor: pointer;
    text-decoration: none;
    color: rgb(1, 47, 52);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    transition: all .3s ease;
}

.section4 button:hover {
    background-color: rgb(1, 47, 52);
    color: white;
}

    /* SECTION5 */
.section5 {
    padding: 48px 0 55px;
    display: flex;
    justify-content: space-between;
}

.section5 .hero1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 25.5px;
}

.section5 .hero1 img {
    width: 161.24px;
    height: 40.82px;
}

.section5 .hero1 ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.section5 .hero1 ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    transition: all .3s ease;
}

.section5 .hero1 ul a:hover {
    color: rgb(246, 126, 126);
}

.section5 .hero2 {
    width: 35%;
    text-align: start;
}

.section5 .hero3 {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section5 .hero3 .apps {
    width: 107.35px;
    height: 24.49px;
    margin-left: auto;
}

.section5 .hero3 .copyright {
    width: 257.07px;
    height: 16px;
    margin-left: auto;
}

.section5 .hero2 #m1 {
    display: none;
}

.section5 .hero2 #m2 {
    display: none;
}

.section5 .my_team {
    display: none;
}

@media (max-width: 1200px) {
    .container {
        max-width: 1440px;
        padding: 0 40px 0;
        margin: auto;
    }
    .section3 h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
    }
    .verge {
        width: 100px;
        height: 18px;
    }
    .jakarta {
        width: 119px;
        height: 13px;
    }
    .buardian {
        width: 115px;
        height: 18px;
    }
    .techradar {
        width: 100px;
        height: 18px;
    }
    .gatgets {
        width: 33px;
        height: 25px;
    }
}

@media (max-width: 815px) {
    .section1 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .section1 h1 {
        font-size: 64px;
        font-weight: 700;
        line-height: 56px;
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
    }
    .section1 p {
        font-size: 15px;
        font-weight: 600;
        line-height: 28px;
        width: 75%;
        text-align: center;
    }
    .section5 {
        flex-wrap: wrap;
    }
    .section5 .hero3{
        display: flex;
    }
    .section5 .hero1 {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 25.5px;
        margin-bottom: 35px;
    }
    .section5 .hero2 {
        width: 30%;
    }
    .section5 .hero2 .m1 {
        display: none;
    }
    .section5 .hero2 #m1 {
        display: block;
    }
    .section5 .hero3 {
        width: 100%;
        flex-direction: row;
    }
    .section5 .hero3 .apps {
        width: 107.35px;
        height: 24.49px;
        margin-left: 0;
    }
    .people > .div1 {
        width: 281px;
        height: 253px;
    }
    .section4 {
        align-items: center;
    }
    .section4 h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
    }
}

@media (max-width: 660px) {
    .container {
        padding: 0 24px 0;
    }
    header {
        padding-top: 48px;
    }
    header .ul_div ul {
        display: none;
    }
    header .contact_us_btn {
        display: none;
    }
    header .menu_btn {
        display: block;
        cursor: pointer;
        background-color: inherit;
        border: none;
    }
    header .menu_btn i {
        font-size: 20px;
        color: white;
    }
    header .ul_div > img {
        width: 127.96px;
        height: 32px;
    }
    .section1 h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
    }
    .people {
        justify-content: center;
    }
    .people > .div1 {
        width: 327px;
        height: 253px;
    }
    .section4 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }
    .section5 {
        flex-direction: column;
        text-align: center;
    }
    .section5 .hero2 #m1 {
        display: none;
    }
    .section5 .hero2 #m2 {
        width: 100%;
        display: block;
        margin-bottom: 40px;
    }
    .section5 .hero3 {
        width: 100%;
        flex-direction: column;
    }
    .section5 .hero3 .copyright {
        width: 257.07px;
        height: 16px;
        margin-left: 0;
        margin: auto;
    }
    .section5 .hero3 .apps {
        width: 107.35px;
        height: 24.49px;
        margin: auto;
        margin-bottom: 16px;
    }
    .section5 .hero2 {
        display: none;
    }
    .section5 .hero3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section5 .hero1 {
        display: none;
    }
    .section5 .my_team {
        display: block;
        text-align: center;
    }
    .section5 .my_team .img1 {
        margin-bottom: 24px;
    }
    .section5 .my_team .img2 {
        margin-bottom: 40px;
    }
    .section5 .my_team ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 24px;
    }
    .section5 .my_team ul a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: Livvic;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0px;
        transition: all .3s ease;
    }
    .section5 .my_team ul a:hover {
        color: rgb(246, 126, 126);
    }
    .section3 .clients img {
        margin: auto;
    }
    .section3 .clients {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
    }
}